{% extends 'main.html' %}

{% block content %}
{% load static %}

  <main class="main"> 
    <div class="main_main"> 
    </div> 
  </main> 

  <div class="main__parallax"> 
    <div class="container"> 
      <div class="main__title"> 
          <h1>ITP — магазин фриланс услуг</h1> 
          <p> 
            Хотите экономить деньги, время и нервы? Такая экономия возможна только тогда, когда freelance нацелен на результат.
 В этом плане ITP, являясь маркетплейсом, имеет огромное преимущество перед любыми другими биржами исполнителей.
          </p> 
        </div> 
    </div> 
  </div>

{% endblock %}