{% extends 'main.html' %}

{% block content %}
<div class="messa mt-5" style="column-gap: normal;">
    <h1>Email form</h1>
    <div style="display: flex; justify-content: center;">
        <form method="POST" action="{% url 'sendemail' %}" >
            {% csrf_token %}
            <div class="messa m-5" >
                <div class="messa m-5"><input type="text" placeholder="Ваше имя" name="name"></div>
                <div class="messa m-5"><input type="text" placeholder="Заголовок" name="subject"></div>

                <div class="messa m-5"><textarea name="message" placeholder="Пожелания"></textarea></div>
                <div class="messa m-5"><input type="email" name="email" placeholder="Email"></div>


                <div class="messa" style="display: flex; justify-content: center;"><input class="btn btn-primary" type="submit"></div>
            </div>
        </form>
    </div>
</div>


{% endblock %}